<div class="bg-blue-500 text-white antialiased p-6">
  <nav class="flex justify-around">
    <div class="flex flex-row items-center">
      <div>
        <%= link_to "Yellow Labs Inc.", root_path, class: 'text-3xl text-white font-bold' %>
      </div>
    </div>
  </nav>
</div>